<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPrincipal</servlet-name>
        <servlet-class>Controlador.srvPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvLogin</servlet-name>
        <servlet-class>Controlador.srvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRegistro</servlet-name>
        <servlet-class>Controlador.srvRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCerrarSesion</servlet-name>
        <servlet-class>Controlador.srvCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvItem</servlet-name>
        <servlet-class>Controlador.srvItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReservar</servlet-name>
        <servlet-class>Controlador.srvReservar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPrestamo</servlet-name>
        <servlet-class>Controlador.srvPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvPrestamos</servlet-name>
        <servlet-class>Controlador.srvPrestamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDevolver</servlet-name>
        <servlet-class>Controlador.srvDevolver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPrincipal</servlet-name>
        <url-pattern>/srvPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvLogin</servlet-name>
        <url-pattern>/srvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRegistro</servlet-name>
        <url-pattern>/srvRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCerrarSesion</servlet-name>
        <url-pattern>/srvCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvItem</servlet-name>
        <url-pattern>/srvItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReservar</servlet-name>
        <url-pattern>/srvReservar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPrestamo</servlet-name>
        <url-pattern>/srvPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvPrestamos</servlet-name>
        <url-pattern>/srvPrestamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDevolver</servlet-name>
        <url-pattern>/srvDevolver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
